body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    text-align: center;
}

/* Capçalera */
.main-header { padding: 20px 0; }
.banner-img { max-width: 1000px; width: 90%; }

/* Grid */
.grid-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

/* Estil */
.card {
    display: block;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    transition: filter 0.3s ease, opacity 0.3s ease;
    filter: brightness(0.95);
}

/* Hover */

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* No va xavi 😭 */
}

/* Footer */
.main-footer {
    margin-top: 40px;
    padding-bottom: 40px;
}
.footer-banner { max-width: 800px; width: 85%; }
.footer-credits { font-size: 12px; color: #666; margin-top: 15px; }

/* Resposta Mòbil */
@media (max-width: 800px) {
    .grid { grid-template-columns: repeat(2, 1fr); }
    .cell-span-2 { grid-column: span 1; }
}